:root {
    -font-primary: 'Fira Sans Extra Condensed', sans-serif;


    --color-primary: #ffffff;
    --color-dark-01: #15191e;
    --color-dark-02: #2a313a;
    --color-grey: #808080;
    --color-secondary: #f44336;
    --color-hamburger: #f5f5f5;


    --color-background-light: #ffffff;
    --color-background-beige: #f4f3f1;
    --color-background-dark: #1f1f1f;

    --color-button-dark: #1f1f1f;
    --color-button-dark--hover: #1f1f1f;
  
    --color-button-light: #ffffff;
    --color-button-light--hover: #737373;
  
    --color-button-text-dark: #1f1f1f;
    --color-button-text-light: #ffffff;
  
    --color-text-dark: #1f1f1f;
    --color-text-light: #aaaaaa;
    --color-text-white: #ffffff;
  
    --desktop-width: 1440;
    --mobile-width: 430;

}