.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  width: 100%;
  background-color: red;


}


.container-3 .box {
  height: 100%;
  width: 33%;
  background-color: blue;
}